doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://www.w3schools.com/lib/w3.css')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='shortcut icon', href='/public/img/favicon_synprotech.png', type='image/x-icon')
    title Main page
  body
    // navbar
    .navbar.outer-box.w3-top.w3-bar
      .inner-box-1
        // <img src="img/navbar-logo2.png>
      .inner-box-2
        p.branding-1 SYNPROTECH
        p.branding-2  ENGINEERING LLC
      .inner-box-3
        span.w3-mobile.w3-right.w3-margin-right.w3-text-gray
          a.w3-bar-item.w3-button.w3-hide-small.w3-hover-blue-gray(href='#')
            b Home
          a.w3-bar-item.w3-button.w3-hide-small.w3-hover-blue-gray(href='#')
            b About
          a.w3-bar-item.w3-button.w3-hide-small.w3-hover-blue-gray(href='#')
            b Services
          a.w3-bar-item.w3-button.w3-hide-small.w3-hover-blue-gray(href='#')
            b Contact us
          a.w3-bar-item.w3-button.w3-hide-small.w3-hover-blue-gray(href='#')
            b Reference list
          a.w3-bar-item.w3-button.w3-hide-small.w3-hover-blue-gray(href='#')
            b Download
          a.w3-bar-item.w3-button.w3-right.w3-hide-large.w3-hide-medium(href='javascript:void(0)', onclick="accondionFunction('toggle-menu')")
            i.fa.fa-bars
    #toggle-menu.w3-bar-block.w3-blue-gray.w3-hide.w3-hide-large.w3-hide-medium.w3-center
      a.w3-bar-item.w3-button(href='#') About
      a.w3-bar-item.w3-button(href='#') Services
      a.w3-bar-item.w3-button(href='#') Contact us
      a.w3-bar-item.w3-button(href='#') Reference list
      a.w3-bar-item.w3-button(href='#') Download
    // navbar ENDS
    
      <!-- showcase
    section.showcase
      .w3-container.w3-center
        h1.w3-text-shadow.w3-animate-opacity.w3-margin-top About us
        hr
        p.w3-animate-opacity
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, dolor id. Vitae tenetur nesciunt voluptatum, quam fugit adipisci laudantium pariatur unde in nisi id, quidem harum itaque voluptates ex libero.
        // <button class="w3-button w3-black w3-large w3-opacity">More</button>
        button.w3-button.w3-black.w3-large.w3-hover-blue-gray More
    // section 2
    section.section.w3-lightgray
      .w3-container.w3-center
        // <i class="fa fa-cog"></i>
        img.w3-hover-opacity(src='img/synprotech32x32.png')
        h1 Synprotech engineering
        p
          | Limited Liability Company SYNPROTECH Engineering is an engineering and consulting design company of the CNGS Group. The company specializes in the oil and gas chemical market segment and provides business development in this area in its regions of presence.
          | Objective: Development of an effective modern projects, optimized for economics and technological specifications, in the new petrochemical industry sector of CNGS Group activity. The company has a highly qualified staff and state-of-the-art facilities.
          | The main priority of the company is to practical use of scientific knowledge and research data on organic and inorganic chemicals, from the design to the implementation phases, namely, from development of design to start-ups of chemical and petrochemical productions. The project documentation development (Feasibility Study of Investment, Basic Engineering, Detailed Design and Engineering) to the construction of new plants and the reconstruction of the existing ones in accordance with the basis of design and the requirements of existing occupational safety  standards and regulations,  fire safety and industrial hygiene regulations, environmental requirements.
      // carousel
      .section.w3-lightgray.w3-hover-opacity
        style.
          .mySlides {display:none}
          .w3-left, .w3-right, .w3-badge {cursor:pointer}
          .w3-badge {height:13px;width:13px;padding:0}
        .w3-content.w3-display-container(style='max-width:800px')
          img.mySlides.w3-round(src='img/carousel/1.jpg', style='width:100%')
          img.mySlides.w3-round(src='img/carousel/2.jpg', style='width:100%')
          img.mySlides.w3-round(src='img/carousel/3.png', style='width:100%')
          img.mySlides.w3-round(src='img/carousel/4.jpg', style='width:100%')
          img.mySlides(src='img/carousel/5.jpg', style='width:100%')
          .w3-center.w3-container.w3-section.w3-large.w3-text-white.w3-display-bottommiddle(style='width:100%')
            .w3-left.w3-hover-text-khaki(onclick='plusDivs(-1)') ❮
            .w3-right.w3-hover-text-khaki(onclick='plusDivs(1)') ❯
            span.demo.w3-badge.w3-border.w3-transparent.w3-hover-white(onclick='currentDiv(1)')
            span.demo.w3-badge.w3-border.w3-transparent.w3-hover-white(onclick='currentDiv(2)')
            span.demo.w3-badge.w3-border.w3-transparent.w3-hover-white(onclick='currentDiv(3)')
            span.demo.w3-badge.w3-border.w3-transparent.w3-hover-white(onclick='currentDiv(4)')
            span.demo.w3-badge.w3-border.w3-transparent.w3-hover-white(onclick='currentDiv(5)')
      // carousel ENDS
      // about
      section#about.section-what
        .w3-container
          .w3-col.m5.w3-center.w3-padding-small
            img.w3-image.w3-round.w3-hover-opacity(src='img/technicaldirector3.jpg')
            .w3-container.w3-center.w3-padding-12
              p Technical director
              p Andrii Kryvolap
          .w3-mobile.w3-col.m7.w3-padding-small
            button.w3-btn-block.w3-left-align(onclick="accondionFunction('what')")
              | What We Do
            #what.w3-container.w3-show
              h3 We Do It All
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            button.w3-btn-block.w3-left-align(onclick="accondionFunction('who')")
              | What We Do
            #who.w3-container.w3-hide
              h3 We Are Acme
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            button.w3-btn-block.w3-left-align(onclick="accondionFunction('where')")
              | What We Do
            #where.w3-container.w3-hide
              h3 We Are Everywhere
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      // servises heading
      section#servises.section.w3-blue.w3-hover-opacity
        .w3-container.w3-center
          h1.w3-text-shadow OUR SERVISES
          p
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda nostrum impedit dolorum possimus deserunt nulla corrupti non necessitatibus quae, tenetur illum in? Quis ipsum nihil ea dignissimos vel necessitatibus similique?
      // servises
      section.section.w3-light-grey
        .w3-container.w3-center
          .w3-row
            .w3-col.m3
              i.fa.fa-comment.w3-blue.w3-padding-small.w3-round-xlarge
              h3 Consalting
              p Lorem ipsum dolor sit amet
            .w3-col.m3
              i.fa.fa-cubes.w3-blue.w3-padding-small.w3-round-xlarge
              h3 Design and engineering
              p Lorem ipsum dolor sit amet
            .w3-col.m3
              i.fa.fa-book.w3-blue.w3-padding-small.w3-round-xlarge
              h3 Operating manuals and start-up procedures development
              p Lorem ipsum dolor sit amet
            .w3-col.m3
              i.fa.fa-calculator.w3-blue.w3-padding-small.w3-round-xlarge
              h3 Procurment
              p Lorem ipsum dolor sit amet
      // contact heading
      section#contact.section.w3-dark-grey.w3-hover-opacity
        .w3-container.w3-center
          h1.w3-text-shadow Contact us
          p.w3-margin-top
            b SYNPROTECH
            |  ENGINEERING LLC
          p Phone: +38 044 3717890
          a(href='#', onclick='sendMail()', style='color:black')
            p Email: office@synproeng.com
          p Ukraine, 02121, Kyiv
          p Kharkivske avenue 175, office 1
          p BC "Crystal"
      // main contact
      section.section
        .w3-container.w3-dark-gray
          .w3-card-4
            .w3-container.w3-dark-gray
              h2.w3-margin-top Contact form
            form#email-form.w3-container.w3-padding-xlarge
              label.w3-input Name
              input#name.w3-input(type='text')
              .invalid-feedback
                | Enter name
              label.w3-input Email
              input#email.w3-input(type='text')
              .invalid-feedback
                | Enter a valid Email
              label.w3-input Phone
              input#phone.w3-input(type='text')
              .invalid-feedback
                | Enter a valid phone
              label.w3-input Message
              textarea#message.w3-input.w3-border(style='resize:none')
              .invalid-feedback
                | Enter text message
              br
              button#submit.w3-block.w3-xlarge.w3-blue(type='submit') Submit
              br
              br
      // footer
      footer
        .outer-box-footer.w3-black.w3-center
          .inner-box-footer
            p.w3-margin-top
              b SYNPROTECH
              |  ENGINEERING LLC
            p
              | Phone: 
              span +38 044 3717890
            p Email: office@synproeng.com
          .inner-box-footer
            img.w3-image(src='img/qr-150-m.png')
            p.w3-margin.w3-pading Synprotech © 2018
          .inner-box-footer
            .outer-box-footer
              .inner-box-footer-social
                #socialicons
                  a.icon(href='LINK', title='Follow with Twitter', target='_blank')
                    i.fa.fa-twitter.fa-2x
                  p Twitter
              .inner-box-footer-social
                #socialicons
                  a.icon(href='LINK', title='Follow with Facebook', target='_blank')
                    i.fa.fa-facebook.fa-2x
                  p Facebook
              .inner-box-footer-social
                #socialicons
                  a.icon(href='LINK', title='Follow with Instagram', target='_blank')
                    i.fa.fa-instagram.fa-2x
                  p Instagram
      // footer  ENDS
      | script(src="/public/js/app.js")
      | script(src="/public/js/slider.js")
