tr td{
  text-align: justify;
}


tr>td:nth-child(odd) {
  color:  rgb(0, 173, 230);
  font-weight: bold;
}

tr>td:nth-child(3) {
  color:  rgb(0, 173, 230);
  font-weight: normal;
}

th {
  color: rgb(113, 124, 125);
}


h1{
  color: rgb(113, 124, 125);
}


h1:hover{
  opacity: 0.8;
}


.reference-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap; 
  padding: 0px;
  margin: 0px;
  flex-basis: 100%;
  /* border: 1px solid red */
}


.style-container{
  position: relative;
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  align-items: center;
  width: 80%;
  
  padding: 0px;
  margin: 20px 5px; 
  
  /* border: 2px solid yellow; */
}



.style-box-1 {
  display: block;
  /* border: 3px solid red; */
  width: 100%;
  text-align: center;

}



@media only screen and (max-width: 600px) {
  .container{
   width: 100%;
 }

  .style-container{
     width: 100%;
     padding-top: 10px;
     margin: 10px 0px; 
   }
   
  .style-box-1 {
     width: 100%;
   } 

}

