html,body,h1,h2,h3,h4,h5 {
    /*font-family: "Raleway", sans-serif*/
    font-family: Verdana, Tahoma, Geneva, sans-serif;
}


html, nav, body{
    background-color: #eceff1;
}



p {
    font-size: 14px;
}

a {
    font-size: 16px;
}

a:hover{
    color: #00adef;
}



h1 {
    color: #0D3349;
}

