body {
    /* font-family: 'Verdana, Tehoma, sans-serif'; */
    font-family: 'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
    font-size: 16px;

}
.navbar {
    position: fixed;
    width: 100%;
    background-color: #1AA3F0;
    color: white

}

.w3-hover-blue:hover{
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.outer-box{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; pushes bottom container */
    justify-content: left;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    padding: 10px;
    margin: 0;
    flex-basis: 100%;
    height: 155px;
                    
}


.inner-box-1 {
    display: block;
    padding-top: 8px;
    padding-left: 8px;
    flex: 1;
    flex-basis: 100px;
    height: 150px;
    order:1;
}


.inner-box-2 {
    display: block;
    padding-top: 8px; 
    padding-left: 12px; 
    flex-basis: 100px;
    flex: 40;
    align-items: center;
    order:2
}


.inner-box-3 {
    display: block;
    flex-basis: 400px;
    flex: 100;
    order:3;
}


.branding{
    font-size: 16px;
}



.showcase{
    background: url('../img/main_background.png') no-repeat;
    /* background-size: 100% auto; */
    background-size: cover;
    background-color: lightgray;
    background-position: center center;
    height: auto;
    padding: 160px 100px;
    margin-top: auto;
}

/* .showcase p{
 font-size: 16px;
} */


.showcase-padding{
    /* margin-top: 100 px; */
    /* margin-top: auto; */
}

.showcase p{
    color: black;
    padding-bottom: 20px; 
    font-size: 16px;
}

.showcase hr {
    margin: auto;
    width: 50%;
    height: 1px;
    border-width: 2px;
    border-color: black;
    padding: 0;
}


.section{
    padding: 40px; 
}


.section h2{
    margin: 0; 
    padding: 0; 
}


.section .fa{
    font-size: 40px; 
}

.section img{
    width: 50%;

}

@media only screen and(max-width: 600px) {
   body { 
       margin-top: 190px;
    }

.showcase {
       height: 400px;
       padding: 60px 0px
   }
}